# List Comprehensions

*   Syntax and Examples
*   Filtering
*   Using Conditional statements

In [32]:
sqaures = [x ** 2 for x in range(10)]
print(sqaures)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
numbers = [1, 2, 3, 4, 5]
doubled = [x * 2 for x in numbers]
print(doubled)

[2, 4, 6, 8, 10]

In [34]:
numbers = [1, 2, 3, 4, 5, 6, 7]
evens = [x for x in numbers if x % 2 == 0]
print(evens)

[2, 4, 6]

In [37]:
name = ["Alice", "Bob", "Charlie", "Dave"]
short_names = [x for x in name if len(x) < 5]
print(short_names)

['Bob', 'Dave']

In [38]:
numbers= [1, 2, 3, 4, 5, 6]
labels = ["Even" if x % 2 == 0 else "Odd" for x in numbers]
print(numbers)
print(labels)

[1, 2, 3, 4, 5, 6]
['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

# Project: Student Grade Manager

In [40]:
# step 1: Get student scores
student_scores = input("Enter student scores separated by commas: ")
scores = [int(score) for score in student_scores.split(",")]

# step 2: assign grades using list comprehension
grades = [
    "A" if score >= 90 else
    "B" if score >= 80 else
    "C" if score >= 70 else
    "D" if score >= 60 else
    "F" for score in scores
]

# step 3: filter passing and failing students
passing_scores = [score for score in scores if score >= 60]
failing_scores = [score for score in scores if score < 60]

# step 4: print results
print("\n---- Students Scores ----")
for i, (score, grade) in enumerate(zip(scores, grades)):
    print(f"Student {i + 1}: {score} - {grade}")

print("\n---- Passing Scores ----")
print("Passing students: ", passing_scores)
print("Failing students: ", failing_scores)

Enter student scores separated by commas: 70, 50, 30, 45, 80, 90, 100

---- Students Scores ----
Student 1: 70 - C
Student 2: 50 - F
Student 3: 30 - F
Student 4: 45 - F
Student 5: 80 - B
Student 6: 90 - A
Student 7: 100 - A

---- Passing Scores ----
Passing students:  [70, 80, 90, 100]
Failing students:  [50, 30, 45]